.featuredAll {
    display: flex;
}

.featuredImage {
    width: 700px;
    height: 700px;
    margin-left: 40%;
    cursor: pointer;
    transition: transform 0.7s, filter 0.7s;
}

.featuredImage:hover {

    transform: rotate(-30deg) scale(1.2);
}

.featuredText {
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-left: -25%;
}