.infoAll {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.infoImage {
    width: 105%;
    height: 105%;
    margin-left: -40%;
    margin-top: -7%;
    cursor: pointer;
    transition: transform 0.7s, filter 0.7s;
}

.infoImage:hover {
    transform: rotate(30deg) scale(1.2);
}

.infoText {
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-right: -30%;
}