* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(90deg, #00d5ff, #af03e3);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: linear-gradient(90deg, #00d5ff, #af03e3);
}

.brand {
    text-transform: uppercase;
}

.text:hover {
    color: black;
}

.text:hover {
    opacity: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.toggler {
    display: none;
}

.toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
    .toggler {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 93vh;
        width: 50vw;
        background: linear-gradient(90deg, #00d5ff, #af03e3);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

.navActive {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}